﻿@model Gestion_log.Models.Contrat

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="col-md-8 col-md-offset-2 center">

        <div class="form-horizontal">
            <div class="box box-default color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-plus-circle"></i> Création d'un nouveau contrat</h3>
                </div>
                <div class="box-body">
                    <form id="formCreate" method="post" action="@Url.RouteUrl("ValiderAjoutcontrat_route")">
                        <div class="form-group">
                            <label class="control-label col-md-2">Reférence</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ref_contrat, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.ref_contrat, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Date de début</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Deb_contrat, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.Deb_contrat, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Date de fin</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Fin_contrat, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.Fin_contrat, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Nom locataire</label>
                            <div class="col-md-10">
                                @Html.DropDownList("Idlocataire", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Idlocataire, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-md-2">Reférence logement</label>
                            <div class="col-md-10">
                                @Html.DropDownList("Idlogement", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Idlogement, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Creer" class="btn btn-default" />
                                <a class="btn btn-warning" href="/Contrats">Annuler</a>

                            </div>
                        </div>
                    </form>
              
                </div>
                <!-- /.box-body -->
            </div>


        </div>


    </div>
}
