﻿@model Gestion_log.Models.Contrat

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Contrat</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ref_contrat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ref_contrat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Deb_contrat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Deb_contrat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fin_contrat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fin_contrat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Locataire.Nom_loc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Locataire.Nom_loc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Logement.MATlog)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Logement.MATlog)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IDcontrat }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
