﻿@section style {
<link rel="stylesheet" href="https://js.arcgis.com/3.23/esri/css/esri.css">
<script src="https://js.arcgis.com/3.23/"></script>

    <style>
       #MapCarte_root{
           height: 660px !important;
       } 
    </style>
}

@section content {

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;height:517px;">

        <div id="carousel-example-captions" data-ride="carousel" class="carousel slide">
            @*<ol class="carousel-indicators" style="display:none">
                    <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="2" class="active"></li>
                </ol>*@
            <div role="listbox" class="carousel-inner" style="width:100%">
                <div class="item active">
                    <video preload="auto" autoplay="" loop="" poster="/img/poster_videos/1440x550_2.1.jpeg?1228689185" width="1440" height="550" style="width:100%">
                        <source src="~/Content/img/Local_HomePage_1440x550_2.1.mp4" type="video/mp4">
                    </video>
                </div>
                @*<div class="item">
                        <img src="~/Content/img/photo1-agence-immobiliere-fort-de-france-martinique.jpg" style="width:100%" alt="Owl Image">
                    </div>*@
            </div>
            @*<a href="#carousel-example-captions" role="button" data-slide="prev" class="left carousel-control"> <span aria-hidden="true" class="fa fa-angle-left"></span> <span class="sr-only">Previous</span> </a>
                <a href="#carousel-example-captions" role="button" data-slide="next" class="right carousel-control"> <span aria-hidden="true" class="fa fa-angle-right"></span> <span class="sr-only">Next</span> </a>*@
        </div>

    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-section">
            <h1>Localiser un bien</h1>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <br /><br />


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
                    <select class="form-control  ">
                        <option>Communes</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3  col-xs-12 form-group">
                    <select class="form-control  ">
                        <option>Quartiers</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3  col-xs-12 form-group">
                    <select class="form-control  ">
                        <option>Type de logement</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">

                    <input type="submit" value="Rechercher" class="form-control btn-primary" style="color:white;" />


                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="background-color:#00bacb;">
            <h4 style="color:white;text-transform:uppercase;text-align:center;">Je souhaite être contacté</h4>
            <div class="input-group m-t-10">
                <input type="email" id="example-input2-group1" name="example-input2-group1" class="form-control" placeholder="Votre Email">
                <span class="input-group-addon" style="background-color:#034d54;color:white;">ok</span>
            </div><br />
            <h4 style="color:white;text-transform:uppercase;text-align:center;">ou appelez-nous au</h4>
            <h5 style="color:white;text-transform:uppercase;text-align:center;">+225 00 00 00 00</h5>

        </div>

    </div><br />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="MapCarte" style="padding: 0;">
            

        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title-section">
            <h1 style="text-transform:uppercase;">à la une</h1>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <img class="img-responsive" alt="user" src="../plugins/images/big/img1.jpg">
            <div class="white-box">
                <div class="text-muted"><span class="m-r-10">May 16</span> <a class="text-muted m-l-10" href="#"><i class="fa fa-heart-o"></i> 38</a></div>
                <h3 class="m-t-20 m-b-20">Top 20 Models are on the ramp</h3>
                <p>Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</button>
            </div>
        </div>
    </div>
}
@section script {
    <script type="text/javascript">
	 var map;

	 require(["esri/map", "esri/layers/ArcGISTiledMapServiceLayer"], function (Map, ArcGISTiledMapServiceLayer) {
	     // code to create the map and add a basemap will go here
	     map = new Map("MapCarte", {
	         basemap: "topo",
	         center: [-7.02, 6.34],
	         zoom: 7
	     });
	     var baseMapLayer = new ArcGISTiledMapServiceLayer("http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer");
	     map.addLayer(baseMapLayer);
	 });
	 
  
    

 
  //map.addLayer(layer);

      



</script>
}