﻿@model Gestion_log.Models.Logement

<div class="col-md-offet-2  col-md-8 " style="margin-left: 29%;">
    <h3>Etes-vous sûr de vouloir faire cela?</h3>
    <div>

        @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MATlog)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MATlog)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.charges_forfetaire)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.charges_forfetaire)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Superficie)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Superficie)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Quartier.Nom_quartier)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Quartier.Nom_quartier)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Type_logement.libelle_type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type_logement.libelle_type)
                </dd>

            </dl>*@

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

           
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-lg btn-danger" /> | <a class="btn btn-warning" href="/Logements">Annuler</a>


                </div>
          

        }
    </div>
</div>
