﻿@model Gestion_log.Models.Logement

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Logement</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MATlog)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MATlog)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.charges_forfetaire)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.charges_forfetaire)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Superficie)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Superficie)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Quartier.Nom_quartier)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Quartier.Nom_quartier)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Type_logement.libelle_type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Type_logement.libelle_type)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IDlog }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
