﻿<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">

        <ul class="nav" id="side-menu">
            <li>
                
            </li>

            <li><a href=" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">ACCUEIL</span></a></li>
            <li>
                <a href="#" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">LOUER <span class="fa arrow"></span></span></a>

            </li>
            <li>
                <a href="" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">ACHETER<span class="fa arrow"></span></span></a>

            </li>
            <li>
                <a href="" class="waves-effect"><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">RECHERCHER UN BIEN<span class="fa arrow"></span></span></a>

            </li>
            <li>
                <a href="" class="waves-effect"><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">VENDRE<span class="fa arrow"></span></span></a>
            </li>
            <li>
                <a href="" class="waves-effect"><i data-icon="O" class="linea-icon linea-software fa-fw"></i> <span class="hide-menu">FAIRE GERER<span class="fa arrow"></span></span></a>
            </li>
            <li>
                <a href="#" class="waves-effect"><i data-icon="O" class="linea-icon linea-software fa-fw"></i> <span class="hide-menu">|<span class="fa arrow"></span></span></a>
            </li>
            <li>
                <a href="" class="waves-effect"><i data-icon="O" class="linea-icon linea-software fa-fw"></i> <span class="hide-menu">Qui sommes-nous<span class="fa arrow"></span></span></a>
            </li>
            <li>
                <a href="" class="waves-effect"><i data-icon="O" class="linea-icon linea-software fa-fw"></i> <span class="hide-menu">Contacts<span class="fa arrow"></span></span></a>
            </li>

            

        </ul>
    </div>
</div>
