@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';

.preloader {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    background: #fff;
}

    .preloader .cssload-speeding-wheel {
        position: absolute;
        top: calc(50% - 3.5px);
        left: calc(50% - 3.5px);
    }

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v1/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+02BC,U+0900097F,U+1CD0-1CF6,U+1CF8-1CF9,U+200B-200D,U+20A8,U+20B9,U+25CC,U+A830-A839,U+A8E0-A8FB;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v1/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0100024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+000000FF,U+0131,U+01520153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

body {
    background: #fff;
}

.logo i {
    color: #fff;
}

.navbar-header {
    background: #008efa;
}

.navbar-top-links > li > a {
    color: #fff;
}

.right-sidebar .rpanel-title {
    background: #008efa;
}

.bg-title .breadcrumb .active {
    color: #008efa;
}

.sidebar {
    background: #fff;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
}

    .sidebar .label-custom {
        background: #00b5c2;
    }

#side-menu li a {
    color: #54667a;
    border-left: 0 solid #fff;
}

#side-menu > li > a:focus, #side-menu > li > a:hover, .nav-second-level > li > a:focus, .nav-second-level > li > a:hover {
    background-color: #f7fafc !important;
}

#side-menu > li > a.active {
    border-bottom: 2px solid #008efa;
    color: #3e4d6c;
    font-weight: 500;
}

    #side-menu > li > a.active i {
        color: #008efa;
    }

#side-menu ul > li > a:hover {
    color: #008efa;
    background: 0 0;
}

#side-menu ul > li > a.active {
    color: #3e4d6c;
    font-weight: 500;
}

.sidebar #side-menu .user-pro .nav-second-level a:hover {
    color: #008efa;
}

.fix-sidebar .top-left-part {
    background: #008efa;
}

#side-menu .nav-second-level li:hover > a {
    color: #008efa;
}

.bg-theme {
    background-color: #f75b36 !important;
}

.bg-theme-dark {
    background-color: #00b5c2 !important;
}

.chat-list .odd .chat-text {
    background: #008efa;
}

.btn-custom {
    background: #008efa;
    border: 1px solid #008efa;
    color: #fff;
}

    .btn-custom:hover {
        background: #008efa;
        opacity: .8;
        color: #fff;
        border: 1px solid #008efa;
    }

.customtab li.active a, .customtab li.active a:focus, .customtab li.active a:hover {
    border-bottom: 2px solid #008efa;
    color: #008efa;
}

.tabs-vertical li.active a, .tabs-vertical li.active a:focus, .tabs-vertical li.active a:hover {
    background: #008efa;
    border-right: 2px solid #008efa;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background: #008efa;
    color: #fff;
}
