﻿@model IEnumerable<ApplicationGestion_Logement.Models.Quartier>
<div class="row">
    <div class="col-xs-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Gestion des Quartiers</h3>
                <!-- Button trigger modal -->
                <button class="btn btn-warning btn-sm Ajouterquartier" data-toggle="modal" data-target="#AjouterModal">
                    <span class="glyphicon glyphicon-plus">Ajouter</span>
                </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive ">
                    <table id="example1" class="table table-bordered table-striped table-responsive">

                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Commune</th>
                                <th>Modifer</th>
                                <th>Supprimer</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Nom_quartier)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Commune.Nom_com)</td>                                 
                                    <td>
                                    <button class="btn btn-primary btn-sm glyphicon glyphicon-pencil modifierquartier" id="@item.IDQuartier"></button>  
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm glyphicon glyphicon-trash waves-effect waves-light supprimerquartier " id="@item.IDQuartier"></button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- /.col -->
    <!--Modal ajouter-->
    <div class="modal fade" id="AjouterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="formCreate" method="post" action="@Url.RouteUrl("ValiderAjoutquartier_route")">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Nom du quartier</label>
                            <input type="text" class="form-control" name="nom_quartier" id="nom_quartier" />
                        </div><br />
                        <div class="form-group">
                            <label class="control-label">Nom de la commune</label>
                            <select type="text" class="form-control list_commune" name="listecommune" id="list_commune" required>
                            <option></option>
                            </select>
                        </div>                    
                         
                  
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary envoyerajouter">Valider</button>
                    </div>
                    </div>                    

            
            </form>
           </div>
        </div>
    </div>
    <!--Finmodal ajouter-->
    <!--Modal modifier-->
    <div class="modal fade" id="ModifModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Nom du quartier</label>
                        <input type="text" class="form-control" name="nom_quartiermodif" id="nom_quartiermodif" />

                    </div><br />
                    <div class="form-group">
                        <label class="control-label">Nom de la commune</label>
                        <select type="text" class="form-control list_commune" name="listecommune" id="list_commune_edit" required>
                        @*<option id="Idcommunemodif"> </option>*@
                        </select>
                    </div>
                </div>
                <input type="text" class="form-control" name="Id_quartiermodif" id="Id_quartiermodif" style="visibility:hidden" />
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary envoyerquartiermodif1">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <!--Finmodal modifier-->
    <!--Modal supprimer-->
    <div class="modal fade " id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/Areas/Administration/Content/images/cancel.png" style="margin-left: 37% !important;" class="animateErrorIcon" />
                    <h2 style="color: #505458;font-family: 'Karla', sans-serif;margin: 10px 0;line-height: 35px;text-align:center">Etes-vous sûr de vouloir  </h2>
                    <input type="text" style="visibility:hidden" id="Id_quartiersupprimer" />
                    <p style="margin-left: 33%; margin-top: 10%;">
                        <button class="btn btn-lg btn-default btnfermer" type="reset" tabindex="2" style="display: inline-block;">Annuler</button>
                        <button class="btn btn-lg btn-danger waves-effect waves-light btnvalidersupp" type="submit" tabindex="1" style="display: inline-block;">Supprimer</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Finmodal supprimer-->
</div>
<!-- ./wrapper -->
<!-- ./wrapper -->
<!-- jQuery 2.2.3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

<!-- Bootstrap 3.3.6 -->
<script src="~/Areas/Administration/Content/bootstrap/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="~/Areas/Administration/Content/plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="~/Areas/Administration/Content/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="~/Areas/Administration/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Areas/Administration/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/Areas/Administration/Content/plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="~/Areas/Administration/Content/plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="~/Areas/Administration/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="~/Areas/Administration/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="~/Areas/Administration/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Areas/Administration/Content/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Areas/Administration/Content/dist/js/app.min.js"></script>


<!-- DataTables -->
<script src="~/Areas/Administration/content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Areas/Administration/content/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
</script>

<!--SCRIPT Quartier-->
<!--SCRIPT CONTRAT-->
<!--script PRECHARGEMENT les données-->
<script>
        $(document).ready(function () {
            $.ajax({
                type: 'get',
                url: '@Url.RouteUrl("Creerquartier_route")',
                success: function (reponse) {
                    var data = reponse;
                    data.list_commune.forEach(el => {
                        let optiontag = document.createElement("option")
                        $(optiontag).prop("value", el.idcommune),
                        $(optiontag).html(el.nom),
                        $(".list_commune").append(optiontag)
                    })
                    
                },
                error: function () {},
            })
        });

</script>
<!--script pour AJOUTER les données-->

<script>
    $('.btn.btn-primary.envoyerajouter').on('click', function () {
        var nom_quartier = $("#nom_quartier").val();
        var list_commune = $("#list_commune").val();
        //var select = document.getElementById("list_commune");
        //var valeurcommune = select.options[select.selectedIndex].value;        
        $.ajax({
            type: 'post',
            url: '@Url.RouteUrl("ValiderAjoutquartier_route")',
            data: {
                'nomquartier': nom_quartier,                
                'idcommune': list_commune           
            },

            success: function (reponse) {
                $("#AjouterModal").modal('hide');
                window.location.reload()
            },

            error: function () {

            },
        })
    });

</script>
    <!--script pour Modifier les données-->
    <script>
        $('.btn.btn-primary.btn-sm.glyphicon.glyphicon-pencil.modifierquartier').on('click', function () {
            var Idquartiermodif = $(this).prop("id"); //permet de recuper la valeur du id
            $.ajax({
                type: 'get',
                url: '@Url.RouteUrl("Modifierquartier_route")',
                data: {
                    'Idquartiermodif': Idquartiermodif
                },
                success: function (reponse) {

                    var data = reponse;
                    var nomquartiermodif = data.nomquartier;
                    var Idcommune = data.idcommune;
                    var Id_quartiermodif = data.idmodif;


                    $("#nom_quartiermodif").val(nomquartiermodif);
                    $("#Id_quartiermodif").val(Id_quartiermodif);
                    $("#list_commune_edit").val(Idcommune);
                    //$("#Id_quartiermodif").val(Id_quartiermodif);
                    //$("#Id_quartiermodif").text(nomcommune);

                    $("#ModifModal").modal("show");
                },

                error: function () {

                },
            })
        });
       
    $('.Ajouterquartier').on('click', function () {

        var nomquartiermodif = $("#nom_quartiermodif").val();
        var list_commune = $("#list_commune_edit").val();
        var select = document.getElementById("list_commune");
        var valeurcommune = select.options[select.selectedIndex].value;
        var idquartier = $("#Id_quartiermodif").val();
        $.ajax({
            type: 'post',
            url: '@Url.RouteUrl("Validermodificationquartier_route")',
            data: {
                'nom_quartier': nomquartiermodif,
                'Idquartier': idquartier,
                'idcommune': list_commune,
            },
            success: function () {
                $("#ModifModal").modal("hide");
                window.location.reload()
            },
            error: function () { },

        })

        //console.log("hvhgc " + fp);

    });

        $('.btn.btn-primary.envoyerquartiermodif1').on('click', function () {
            var nomquartiermodif = $("#nom_quartiermodif").val();
            var list_commune = $("#list_commune_edit").val();
            var select = document.getElementById("list_commune");
            var valeurcommune = select.options[select.selectedIndex].value;
            var idquartier = $("#Id_quartiermodif").val();
            $.ajax({               
                type: 'post',
                url: '@Url.RouteUrl("Validermodificationquartier_route")',
                data: {
                    'nom_quartier': nomquartiermodif,
                    'Idquartier': idquartier,
                    'idcommune': list_commune,
                },
                success: function () {
                    $("#ModifModal").modal("hide");
                    window.location.reload()
                },
                error: function () { },

                })
        });

    </script>



<!--script SUPPRIMER LES DONNées modifier-->
<script>
    $('.supprimerquartier').on('click', function () {
            var Idquartiersupp = $(this).prop("id");
            $('#Id_quartiersupprimer').val(Idquartiersupp);
            $('#DeleteModal').modal('show');
        });
</script>
<!-- FINSCRIPT SCRIPT POUR supprimer LES DONNées modifier-->
<!--SCRIPT SCRIPT POUR supprimer LES DONNées modifier-->
<script>
        $('.btnvalidersupp').on('click', function () {
            var Idquartiervalidersupp = $('#Id_quartiersupprimer').val();
            $.ajax({
                type: 'post',
                url: '@Url.RouteUrl("Validersuppresionquartier_route")',
                data: {
                    'Idquartiervalidersupp': Idquartiervalidersupp
                },

                success: function (reponse) {
                    $("#DeleteModal").modal('hide');
                    window.location.reload()
                },

                error: function () {

                },

            })

        });
</script>
<!-- FINSCRIPT SCRIPT POUR supprimer LES DONNées modifier-->
<!--fermerfenetresupprimer-->
<script>
        $('.btnfermer').on('click', function () {
            $('#DeleteModal').modal('hide');
        });
</script>
<!--FINfermerfenetresupprimer-->


<!--FIN SCRIPT QUARTIER-->
